:root {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 800px;
}

.main {
  border: solid black 2px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.main > section {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  min-height: 250px;
  background-color: #313131;
  border-top-left-radius: 30px;
}

.header-inner-box {
  min-height: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d4d4d4;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 100px;
}

.inline {
  display: inline-block;
  padding: 0;
}

.header-inner-box img {
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
  border-top-left-radius: 30px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

ol {
  list-style-type: square;
}

li {
  margin-bottom: 16px;
}

.indent-p p {
  margin-left: 16px;
}

li > span {
	display: block;
	margin-bottom: 3px;
}

.description {
  font-size: 0.9rem;
}

address {
  /* Italics makes this harder to read */
  font-style: unset;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

address p {
  padding-left: 16px;
  margin-bottom: 0;
  font-size: 1.0rem;
  margin-top: 0.4rem;
}

address a {
  text-decoration: none;
  color: #313131;
}

@media screen and ( min-width: 500px ) {
	.header-inner-box {
		flex-direction: row;
		border-bottom-right-radius: 100px;
	}

	h1 {
		text-align: unset;
	}

	li > span {
		margin-bottom: 0;
		display: inline;
	}

	li > span:not(:last-of-type)::after {
		content:" • ";
	}
}
